{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Login to IT Check-In</h1>
        <br/><br/>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control ml-3" id="username" 
                    name="username" value="{{username}}">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control ml-3" id="password" 
                    name="password" value="{{password}}">
            </div>
            <button type="submit" class="btn btn-primary ml-3">Login</button>
        </form>
        <br/><br/>
    </div>
{% endblock %}