{% extends "base.html" %}
{% load static %}
{% block content %}
<a href="{% url 'index' %}">back to home page</a>
<div class="text-center">
    <h1>Check in</h1>
    <p>Welcome to {{ sel_course.name }} ({{ sel_course.code }})</p>
    <p><b>Section :</b> {{ sel_class.section }}</p>
    <p><b>Time :</b> {{ sel_class.time|default_if_none:'N/A' }}</p>
    <p><b>Room :</b> {{ sel_class.room|default_if_none:'N/A' }}</p>
    <p><b>Current Time:</b> {% now "H:i" %}</p>
    <p class="font-weight-lighter">Please scan QR code to check in to class</p>
    <img class="qrcode" src="{% static 'qrcode.png' %}" alt="qrcode" width="20%">
</div>
{% endblock content %}