{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome to Class Attendance System</h1>
        <br/><br/>
        <form class="form-inline" method="GET" action="{% url 'index' %}">
            <div class="form-group">
                <label for="inputSearch">ค้นหาชื่อรายวิชา:</label>
                <input type="text" class="form-control ml-3" id="inputSearch" 
                    name="inputSearch" placeholder="Search" value="{{search_txt}}">
            </div>
            <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </form>
        <br/><br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">เวลา</th>
                    <th scope="col">ชื่อรายวิชา</th>
                    <th scope="col">Section</th>
                    <th scope="col">ห้อง</th>
                    <th scope="col">จำนวนนักเรียนที่ลงทะเบียน</th>
                    <th scope="col">รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                {% for cl in classes %}
                <tr>
                    <td>{{ cl.weekday }} @ {{ cl.time }}</td>
                    <td>{{ cl.course.name }} ({{ cl.course.code }})</td>
                    <td>{{ cl.section }}</td>
                    <td>{{ cl.room }}</td>
                    <td>{{ cl.student_amount }}</td>
                    <td>
                        <a href="{% url 'class_detail' class_id=cl.id %}">
                            <div class="btn btn-warning" id="{{cl.id}}">View detail</div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}
    Footer of index page!!!
{% endblock %}
